{
  "presets": [
    ["@wordpress/default"],
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "@wordpress/babel-plugin-import-jsx-pragma",
      {
        "scopeVariable": "createElement",
        "source": "@wordpress/element",
        "isDefault": false
      }
    ]
  ]
}
