/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.wp-block-gutenberg-examples-example-03-editable {
	color: darkred;
	background: #fcc;
	border: 2px solid #c99;
	padding: 20px;
}
